<?xml version="1.0" encoding="utf-8"?>
<KF2Config>

	<Global>

		<DesiredMap>KF-SteamFortress</DesiredMap>
		<ServerAddress>http://127.0.0.1</ServerAddress>
		<ServerCheckInterval>600</ServerCheckInterval>
		<ServerUnreponsiveThreshold>3</ServerUnreponsiveThreshold>
		<UserName>xxx</UserName>
		<Password>xxx</Password>

	</Global>

	<KF2Servers>

		<KF2ServerInstance>
			<Name>PRIVATE</Name>
			<Port>8000</Port>
			<Gamemode>Endless</Gamemode>
			<ConfigDir>Private</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>HARD</Name>
			<Port>8001</Port>
			<Gamemode>Survival</Gamemode>
			<ConfigDir>Hard</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>SUICIDAL</Name>
			<Port>8002</Port>
			<Gamemode>Survival</Gamemode>
			<ConfigDir>Suicidal</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>HELL ON EARTH</Name>
			<Port>8003</Port>
			<Gamemode>Survival</Gamemode>
			<ConfigDir>HoE</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>WEEKLY</Name>
			<Port>8004</Port>
			<Gamemode>WeeklySurvival</Gamemode>
			<ConfigDir>Weekly</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>OBJECTIVE</Name>
			<Port>8005</Port>
			<Gamemode>Objective</Gamemode>
			<ConfigDir>ObjectiveHard</ConfigDir>
			<!-- <DesiredMap></DesiredMap> -->
		</KF2ServerInstance>

	</KF2Servers>

</KF2Config>