<?xml version="1.0" encoding="utf-8"?>
<KF2Config>

	<Global>

		<DesiredMap>KF-XXX</DesiredMap>
		<ServerAddress>http://XXX.XXX.XXX.XXX</ServerAddress>
		<ServerCheckInterval>600</ServerCheckInterval>
		<ServerUnreponsiveThreshold>3</ServerUnreponsiveThreshold>
		<UserName>XXX</UserName>
		<Password>XXX</Password>

	</Global>

	<KF2Servers>

		<KF2ServerInstance>
			<Name>PRIVATE</Name>
			<Port>8000</Port>
			<DesiredMap></DesiredMap>
			<Disabled>false</Disabled>
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>HARD</Name>
			<Port>8001</Port>
			<DesiredMap></DesiredMap>
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>SUICIDAL</Name>
			<Port>8002</Port>
			<DesiredMap></DesiredMap>
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>ENDLESS</Name>
			<Port>8003</Port>
			<DesiredMap></DesiredMap>
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>WEEKLY</Name>
			<Port>8004</Port>
			<DesiredMap></DesiredMap>
		</KF2ServerInstance>

		<KF2ServerInstance>
			<Name>OBJECTIVE</Name>
			<Port>8005</Port>
			<DesiredMap></DesiredMap>
		</KF2ServerInstance>

	</KF2Servers>

</KF2Config>